[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gemtc"]
	path = gemtc
	url = https://github.com/gertvv/gemtc
	subdir = gemtc
[submodule "hitandrun"]
	path = hitandrun
	url = https://github.com/gertvv/hitandrun
	subdir = hitandrun
[submodule "smaa"]
	path = smaa
	url = https://github.com/gertvv/rsmaa
	subdir = smaa
